<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ import namespace="System" #>
<#@ include file="..\WarpEngine\Vectors.ttinclude" #>
namespace WarpEngine.Basic2D
{
<#
	Vector2Struct("WorldPosition", "float", new[]
	{
		"WorldDistance"
	});
	Vector2Struct("WorldDistance", "float", new[]
	{
		"WorldDistance"
	});
#>
}